*, *:before, *:after{
    margin: 0;
    padding: 0;
}

/* Para remover linha dos links */
a{
    text-decoration: none;
}

a.link{
    display: none;
}

.retangulo-fundo{
    width: 300px;
    min-height: 360px;    
    border-color: #59429d;
    border: 1;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    
}



body{
    background-color: #F0F8FF;
    font-family: sans-serif;
    font-size: 1em;
}

.titulo{
    color: #59429d;
    padding: 2px 0 10px 0;
    text-align: center;
}

.titulo-1{
    margin-top: 27px;
    font-size: 30px;
}

.subtitulo{
    font-size: 15px;
    margin-top: 10px;
}

fieldset{
    border:0;
    margin-left: 21px;
    margin-right: 7%;
}

input, button{
    border-radius: 3px;
}

.campo{
    margin-top: 0.7em;
}

.campo label{
    margin-bottom: 5px;
    color: #59429d;
    display: block;
}

.campo input[type=text], .campo input[type=password]{
    padding: 0.4em;
    border: 1px solid #59429d;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
    position: relative;
    width: 250px;
}

.campo input:focus{
    background: #e0E0f8;
}

.botao{
    font-size: 1.2em;
    background: #59429d;
    border: 0;
    margin-bottom: 1em;
    color: #ffffff;
    padding: 0.2em 0.6em;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-top: 1.5em;
    float: right;
    margin-left: 25px;

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}

.botao:hover{
    background: #aaaaaa;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: null;
}

.link {
    font-size: 13px;
    background: #59429d;
    padding: 10px;
    color: #ffffff;
    margin-top: 65px;
    margin-right: 23px;
    margin-left: 23px;
    border: 0;
    width: 250px;

   
    -webkit-border-radius: 4px;
    border-radius: 4px;  
   
    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }



  #link-1{
    background-color: #59429d;
    align-items: center;
    padding: 6px;
    color: #ffffff;

    -webkit-border-radius: 4px;
    border-radius: 4px; 

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
}

#link-1:hover {
    background: #aaaaaa;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: null;
  }

  #link-2{
    background-color: #59429d;
    margin-left: 60px;
    align-items: center;
    padding: 6px;
    color: #ffffff;

    -webkit-border-radius: 4px;
    border-radius: 4px; 

    -webkit-transition: all 0.4s linear;
    transition: all 0.4s  linear;
  }

  #link-2:hover {
    background: #aaaaaa;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    text-shadow: null;
  }